{% trans_default_domain 'model' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('model_form_new') }}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.code'|trans }}</label></th>
    <th>{{ 'header.description'|trans }}</th>
    <th>{{ 'header.active'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% for model in pager %}
                {% set url = path('model_form_edit', {'code': model.code}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td>
                        <label><input type="checkbox" name="items[]" value="{{ model.id }}" class="selectable"> <a href="{{ url }}">{{ model.code }}</a></label>
                    </td>
                    <td>
                        {{ model.description }}
                    </td>
                    <td>
                        {{ (model.active ? 'table.active.yes' : 'table.active.no')|trans }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
    <form action="{{ path('model_delete') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}
    </form>
{% endblock %}
