{% trans_default_domain 'invoice' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    <form method="post">
        {% for item in items %}
            <input type="hidden" name="items[]" value="{{ item.id }}">
        {% endfor %}
        <input type="hidden" name="confirm" value="ok">
        <div class="alert alert-warning">{{ 'prompt.delete_confirm'|trans|nl2br }}</div>
        <div id="table" class="col-md-12 table-responsive">
            <table id="list" class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{ 'header.code'|trans }}</label></th>
                        <th>{{ 'header.date_time'|trans }}</th>
                        <th>{{ 'header.created_by'|trans }}</th>
                        <th>{{ 'header.state'|trans }}</th>
                        <th>{{ 'header.notes'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.code }}</td>
                            <td>{{ item.dateTime|date('format.datetime'|trans({}, 'general')) }}</td>
                            <td>{{ item.createdBy }}</td>
                            <td>
                                {% if not item.finalizedOn %}
                                    {{ 'table.not_finalized'|trans }}
                                {% elseif not item.finishedOn %}
                                    {{ 'table.not_finished'|trans }} {{ item.finalizedOn|date('format.datetime'|trans({}, 'general')) }}
                                {% elseif not item.servedOn %}
                                    {{ 'table.not_served'|trans }} {{ item.finishedOn|date('format.datetime'|trans({}, 'general')) }}
                                {% else %}
                                    {{ 'table.served'|trans }} {{ item.servedOn|date('format.datetime'|trans({}, 'general')) }}
                                {% endif %}
                            </td>
                            <td>{{ notes }}|nl2br</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {{ m.submit_button('submit', 'trash', 'btn-danger', 'form.delete_confirm'|trans) }}
    </form>
{% endblock %}
