{% trans_default_domain 'invoice' %}
{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% block content %}
    {% if not new %}
        <table id="list" class="table table-bordered table-hover table-striped table-sm">
            <thead>
            <tr>
                <th>{{ 'header.line.code'|trans }}</th>
                <th>{{ 'header.line.reference'|trans }}</th>
                <th>{{ 'header.line.model'|trans }}</th>
                <th>{{ 'header.line.description'|trans }}</th>
                <th class="text-right">{{ 'header.line.rate'|trans }}</th>
                <th class="text-right">{{ 'header.line.quantity'|trans }}</th>
                <th class="text-right">{{ 'header.line.discount'|trans }}</th>
                <th class="text-right">{{ 'header.line.total'|trans }}</th>
            </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for invoice_line in invoice.lines %}
                    <tr>
                        <td>{{ invoice_line.reference ? (invoice_line.reference.code ~ (invoice_line.model ? invoice_line.model.code)) }}</td>
                        <td>{% if invoice_line.reference %}{{ invoice_line.reference.description }}{% endif %}</td>
                        <td>{% if invoice_line.model %}{{ invoice_line.model.description }}{% endif %}</td>
                        <td>
                            {{ invoice_line.description }}
                        </td>
                        <td class="text-right">
                            {{ (invoice_line.rate/100)|number_format(2, 'format.decimal_separator'|trans({}, 'general'), 'format.thousand_separator'|trans({}, 'general')) }}
                            {{ 'format.currency'|trans({}, 'general') }}
                        </td>
                        <td class="text-right">
                            {{ invoice_line.quantity }}
                        </td>
                        <td class="text-right">
                            {{ invoice_line.discount }} %
                        </td>
                        <td class="text-right">
                            {% if invoice.finalizedOn is null %}<a href="{{ path('invoice_line_form_edit', {'id': invoice_line.id}) }}"><i class="fa fa-pen"></i></a>{% endif %}
                            {% set subtotal = invoice_line.rate * (100 - invoice_line.discount) * invoice_line.quantity / 10000 %}
                            {% set total = total + subtotal %}
                            {{ subtotal|number_format(2, 'format.decimal_separator'|trans({}, 'general'), 'format.thousand_separator'|trans({}, 'general')) }}
                            {{ 'format.currency'|trans({}, 'general') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7"></th>
                    <th class="text-right">{{ total|number_format(2, 'format.decimal_separator'|trans({}, 'general'), 'format.thousand_separator'|trans({}, 'general')) }}
                        {{ 'format.currency'|trans({}, 'general') }}</th>
                </tr>
            </tfoot>
        </table>
    {% endif %}

    {{ form_start(form_line, {'attr': {'data-ajax': path('api_reference', {'id': 0})}}) }}

    {% if invoice.finalizedOn is null %}
    <div class="mb-3 card">
        <h5 class="card-header">{{ 'title.add_line'|trans }}</h5>
        <div class="card-body">
            {{ form_widget(form_line) }}
            {{ m.start_button() }}
            {% if new %}{{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}{% endif %}
            {{ m.submit_button('submit', 'check', 'btn-success', 'form.line.add'|trans) }}
            {{ m.end_button() }}
        </div>
    </div>
    {% endif %}

    {% if not new %}
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {% if invoice.finalizedOn is null %}
            {{ m.submit_button('finalize', 'lock', 'btn-primary', 'form.finalize'|trans, false, '', true) }}
        {% elseif invoice.finishedOn is null %}
            {{ m.submit_button('finish', 'industry', 'btn-primary', 'form.finish'|trans, false, '', true) }}
        {% elseif invoice.servedOn is null %}
            {{ m.submit_button('serve', 'hand-holding', 'btn-primary', 'form.serve'|trans, false, '', true) }}
        {% endif %}
    {% endif %}

    {{ form_end(form_line, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/invoice_line.js') }}"></script>
{% endblock %}
