{% trans_default_domain 'invoice' %}
{% extends 'generic/list.html.twig' %}
{% import 'macros.html.twig' as m %}

{% block path_new %}{{ path('invoice_form_new') }}{% endblock %}

{% block new_action %}{% if is_granted('ROLE_SALES_REPRESENTATIVE') %}{{ parent() }}{% endif %}{% endblock %}

{% block table_header %}
    <th><label><input type="checkbox" id="select"> {{ 'header.code'|trans }}</label></th>
    <th>{{ 'header.date_time'|trans }}</th>
    <th>{{ 'header.created_by'|trans }}</th>
    <th>{{ 'header.client'|trans }}</th>
    <th>{{ 'header.state'|trans }}</th>
    <th class="text-right">{{ 'header.quantity'|trans }}</th>
    <th class="text-right">{{ 'header.total'|trans }}</th>
{% endblock %}

{% block table_body %}
            {% set disable_checkboxes = not is_granted('ROLE_SALES_REPRESENTATIVE') %}
            {% for row in pager %}
                {% set item = row[0] %}
                {% set url = path('invoice_form_edit', {'id': item.id}) %}
                <tr class="clickable-row" data-href="{{ url }}">
                    <td><label><input type="checkbox" name="items[]" value="{{ item.id }}" {% if disable_checkboxes or item.finalizedOn %}disabled="disabled"{% else %}class="selectable"{% endif %}> <a href="{{ url }}">{{ item.code }}</a></label></td>
                    <td>{{ item.dateTime|date('format.datetime'|trans({}, 'general')) }}</td>
                    <td>{{ item.createdBy }}</td>
                    <td>{{ item.client }}</td>
                    <td>
                        {% if not item.finalizedOn %}
                            {{ 'table.not_finalized'|trans }}
                        {% elseif not item.finishedOn %}
                            {{ 'table.not_finished'|trans }} {{ item.finalizedOn|date('format.datetime'|trans({}, 'general')) }}
                        {% elseif not item.servedOn %}
                            {{ 'table.not_served'|trans }} {{ item.finishedOn|date('format.datetime'|trans({}, 'general')) }}
                        {% else %}
                            {{ 'table.served'|trans }} {{ item.servedOn|date('format.datetime'|trans({}, 'general')) }}
                        {% endif %}
                    </td>
                    <td class="text-right">{{ row[1] }}</td>
                    <td class="text-right">
                        {{ (row[2]/100)|number_format(2, 'format.decimal_separator'|trans({}, 'general'), 'format.thousand_separator'|trans({}, 'general')) }}
                        {{ 'format.currency'|trans({}, 'general') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">{{ 'table.no_items'|trans }}</td>
                </tr>
            {% endfor %}
{% endblock %}

{% block before_table %}
<div class="btn-group btn-group-toggle" id="filter" data-toggle="buttons">
    <label class="btn btn-secondary active">
        <input type="radio" name="filter" value="0" autocomplete="off" {% if f == 0 %}checked{% endif %}> {{ 'form.filter.all'|trans }}
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="filter" value="1" autocomplete="off" {% if f == 1 %}checked{% endif %}> {{ 'form.filter.opened'|trans }}
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="filter" value="2" autocomplete="off" {% if f == 2 %}checked{% endif %}> {{ 'form.filter.finalized'|trans }}
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="filter" value="3" autocomplete="off" {% if f == 3 %}checked{% endif %}> {{ 'form.filter.finished'|trans }}
    </label>
    <label class="btn btn-secondary">
        <input type="radio" name="filter" value="4" autocomplete="off" {% if f == 4 %}checked{% endif %}> {{ 'form.filter.served'|trans }}
    </label>
</div>

<form action="{{ path('invoice_delete') }}" method="post">
{% endblock %}

{% block after_table %}
        <div class="clearfix"></div>
        {{ m.link_button(last_url, 'arrow-left', 'btn-info', 'form.back'|trans) }}
        {% if is_granted('ROLE_SALES_REPRESENTATIVE') %}{{ m.submit_button('delete', 'trash', 'btn-danger enable-on-items', 'form.delete'|trans) }}{% endif %}
    </form>
{% endblock %}
