{% trans_default_domain 'invoice_ticket' %}
<html>
<head>
    <style>
        body {
            font-family: sans-serif;
        }

        table {
            font-family: dejavusanscondensed, sans-serif;
            border-style: solid;
            border-width: 1px;
        }

        table.data {
            width: 80%;
            margin-bottom: 10px;
        }

        table.data td.info {
            font-family: dejavusanscondensed, sans-serif;
            font-weight: bold;
            text-align: right;
        }

        td.info {
            width: 30%;
        }

        table.lines {
            margin-top: 60px;
            width: 100%;
        }

        table.lines th {
            background-color: #cccccc;
        }

        table.lines {
            font-size: 80%;
        }

        table.lines  {
            line-height: 2;
        }

        table.lines tfoot th {
            font-size: 120%;
        }

        .right {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1>{{ app_name }}</h1>
    <table class="data">
        <tr>
            <td class="info">{{ 'report.code'|trans }}</td>
            <td>{{ invoice.code }}</td>
        </tr>
        <tr>
            <td class="info">{{ 'report.date'|trans }}</td>
            <td>{{ invoice.servedOn|date('format.datetime'|trans({}, 'general')) }}</td>
        </tr>
        <tr>
            <td class="info">{{ 'report.created_by'|trans }}</td>
            <td>{{ invoice.createdBy }}</td>
        </tr>
        {% if invoice.client %}
        <tr>
            <td class="info">{{ 'report.client'|trans }}</td>
            <td>{{ invoice.client }}</td>
        </tr>
        {% endif %}
    </table>

    <table class="lines">
        <thead>
            <tr>
                <th width="15%">{{ 'header.code'|trans }}</th>
                <th width="36%">{{ 'header.description'|trans }}</th>
                <th width="15%">{{ 'header.model'|trans }}</th>
                <th width="10%" class="right">{{ 'header.rate'|trans }}</th>
                <th width="7%" class="right">{{ 'header.quantity'|trans }}</th>
                <th width="7%" class="right">{{ 'header.discount'|trans }}</th>
                <th width="10%" class="right">{{ 'header.total'|trans }}</th>
            </tr>
        </thead>
        {% set total = 0 %}
        {% for line in invoice.lines %}
            <tr>
                <td>{{ line.reference ? (line.reference.code ~ (line.model ? line.model.code)) }}</td>
                <td>{{ line.description }}</td>
                <td>{{ line.model ? line.model.description : '' }}</td>
                <td class="right">
                    {{ (line.rate/100)|number_format(2, 'format.decimal_separator'|trans({}, 'general'), 'format.thousand_separator'|trans({}, 'general')) }}
                    {{ 'format.currency'|trans({}, 'general') }}
                </td>
                <td class="right">{{ line.quantity }}</td>
                <td class="right">{{ line.discount }}</td>
                <td class="right">
                    {% set subtotal = line.rate * (100 - line.discount) * line.quantity / 10000 %}
                    {% set total = total + subtotal %}
                    {{ subtotal|number_format(2, 'format.decimal_separator'|trans({}, 'general'), 'format.thousand_separator'|trans({}, 'general')) }}
                    {{ 'format.currency'|trans({}, 'general') }}
                </td>
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <th colspan="5"></th>
                <th colspan="2" class="right">
                    {{ total|number_format(2, 'format.decimal_separator'|trans({}, 'general'), 'format.thousand_separator'|trans({}, 'general')) }}
                    {{ 'format.currency'|trans({}, 'general') }}
                </th>
            </tr>
        </tfoot>
    </table>
</body>
</html>